
<div class="color mb-3 row justify-content-center">
    <h1 class="text-center text-md-start seccion mb-4">Proyectos</h1>
    <div class="col-lg-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProyectoModal"  *ngIf="isLogged" >
        Nuevo Proyecto
      </button>
    </div>
    <div  *ngFor="let proyecto of proyectos">
      <img src={{proyecto.imgProyecto}}  class="card-img" alt="">
      <div>
        <div>
        <h2>{{proyecto.tituloProyecto}}</h2>
        <p>{{fecha}}</p>
      </div>
        <p>{{proyecto.descripcionProyecto}}</p>
      </div>
      <a href={{proyecto.linkProyecto}} target="_blank">asss</a>

      <div>
        <button *ngIf="isLogged" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eliminarProyectoModal" (click)="onOpenModal('delete',proyecto)">
          eliminar
        </button>
    
        <button  *ngIf="isLogged" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarProyectoModal" (click)="onOpenModal('edit',proyecto)">
          editar
          </button>
      </div>
        </div>  
    
    </div>



<!--Modal Create-->
<div class="modal fade" id="agregarProyectoModal" tabindex="-1" aria-labelledby="agregarProyectoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black;" id="agregarProyectoModal">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div style="color: black;" class="modal-body">
        <form (ngSubmit)="onCreate()" noValidate #f="ngForm">
          <div class="form-group">
              <label for="tituloProyecto">Titulo del proyecto</label>
              <input type="text" class="form-control" id="tituloProyecto" name="tituloProyecto" [(ngModel)]= "tituloProyecto" required>
              <label for="fecha">Fecha del proyecto</label>
              <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]= "fechaProyecto" required>
              <label for="descripcion">Descripcion del proyecto</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]= "descripcionProyecto" required>
              <label for="link">Pagina web</label>
              <input type="text" class="form-control" id="link" name="linkl" [(ngModel)]= "linkProyecto" required>
              <label for="imgProyecto">Url de la imagen</label>
              <input type="text" class="form-control" id="imgProyecto" name="imgProyecto" [(ngModel)]= "imgProyecto" required>
          </div>

          <button class="btn btn-primary">
              Agregar Proyecto
          </button>
      </form>
      </div>
    </div>
  </div>
</div>


<!--Modal delete-->
<div class="modal fade" data-bs-toggle="modal" data-bs-target="#eliminarProyectoModal" id="eliminarProyectoModal" tabindex="-1" role="dialog" aria-labelledby="eliminarProyectoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="eliminarProyectoModal">Eliminar Proyecto</h5>
              <button class="close" type="button" data-bs-dismiss="modal" aria-label="close" >
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" style="color: black;">
              <p> Estas seguro que quiere eliminar este Proyecto?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  No
              </button>

              <button (click)="delete(deleteProyecto!.id)"  class="btn btn-danger" data-bs-dismiss="modal">Si</button>
          </div>
      </div>

  </div>

 </div>


 
 <!--Modal upDate-->
<div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-labelledby="editarProyectoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarProyectoModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
              <label for="tituloProyecto">Editar Titulo</label>
              <input type="text" ngModel="{{editProyecto?.tituloProyecto}}" name="tituloProyecto" class="form-control" id="tituloProyecto"  aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="fechaProyecto">Editar Fecha</label>
            <input type="date" ngModel="{{editProyecto?.fechaProyecto}}" name="fechaProyecto" class="form-control" id="fechaProyecto"  aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="descripcionProyecto">Editar Descripcion</label>
          <input type="text" ngModel="{{editProyecto?.descripcionProyecto}}" name="descripcionProyecto" class="form-control" id="descripcionProyecto"  aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="linkProyecto">Editar link</label>
        <input type="text" ngModel="{{editProyecto?.linkProyecto}}" name="linkProyecto" class="form-control" id="linkProyecto"  aria-describedby="emailHelp">
    </div>

          <div class="form-group">
              <label for="imgProyecto">Editar imagen</label>
              <input type="text" ngModel="{{editProyecto?.imgProyecto}}" name="imgProyecto" class="form-control" id="imgProyecto">
          </div>
          
          <div class="form-group">
            <label for="id">Id</label>
            <input type="hidden" ngModel="{{editProyecto?.id}}" name="id" class="form-control" id="ideEdu">
        </div>
          <div class="footer-modal">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Cerrar </button>

              <button (click)="onUpDateProyecto(editForm.value)" class="btn btn-primary" data-bs-dismiss="modal"> Guardar cambios</button>
          </div>
      </form>
      
      </div>
    </div>
  </div>
</div>
