.color{
    background-color: #221C44;;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
}


.seccion{
    color: #B2A8EE;
    border-bottom: solid 2px#B2A8EE;;
}


.carousel{
    width: 900px;
   
}