
<div class="color mb-3 row justify-content-center">
    <h1 class="text-center text-md-start seccion mb-4">Proyectos</h1>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
           <a href="https://unexcitable-automob.000webhostapp.com/bienesraices/" target="_blank"><img src="../../../assets/image/bienesraices.jpg" class="d-block w-100" alt="..."></a> 
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Bienes Raices</h5>
              <p class="fs-6">Sitio web dinámico construido con HTML, CSS, JavaScript, PHP, SQL y Base de Datos</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://blogkf1.netlify.app/" target="_blank"><img src="../../../assets/image/cafeblog.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Café Blog</h5>
              <p>Sitio web estático construido con HTML y CSS</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://festivalmusicall.netlify.app/" target="_blank"><img src="../../../assets/image/festival.jpg" class="d-block w-100" alt="..."></a>
            
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Festival Musical</h5>
              <p>Página web estática construida con HTML,CSS y JavaScript</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://practicamartin1.netlify.app/" target="_blank"><img src="../../../assets/image/freelance.jpg" class="d-block w-100" alt="..."></a>
            
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Freelance Page</h5>
              <p>Página web estática construis con HTML y CSS</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://naistry.github.io/ahorcadoChallenge/" target="_blank"><img src="../../../assets/image/ahorcado.png" class="d-block w-100" alt="..."></a>
            
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Juego del Ahorcado Desktop</h5>
              <p>Juego del ahorcado construido con HTML, CSS y JavaScript</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://frontstorepractice1.netlify.app/" target="_blank"><img src="../../../assets/image/tienda.jpg" class="d-block w-100" alt="..."></a>
            
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Tienda de Ropa</h5>
              <p>Página web construida con HTML y CSS</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://naistry.github.io/App_Salon/" target="_blank"><img src="../../../assets/image/barberia.jpg" class="d-block w-100" alt="..."></a>
           
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Barberia</h5>
              <p>Página web construida con HTML, CSS y JavaScript</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://naistry.github.io/Decodificador/" target="_blank"><img src="../../../assets/image/decodee.png" class="d-block w-100" alt="..."></a>
            
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Decodificador</h5>
              <p>Página web construida con HTML, CSS y JavaScript</p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="https://naistry.github.io/Martin-Pastorino/" target="_blank"> <img src="../../../assets/image/portfolioimg.png" class="d-block w-100" alt="..."></a>
           
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-3">Portfolio Web</h5>
              <p>Página web construida con HTML, CSS y JavaScript</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!--<img src="../../../assets/image/bienesraices.jpg"  class="card-img" alt="">-->