
<div class="color mb-5">
    <h1 class="text-center text-md-start seccion">Educación</h1>
      <ul class="p-0">
        <li class="d-flex flex-column flex-md-row align-items-center mb-4 mt-4">
          <img src="../../../assets/image/Universidad-Nacional-del-Oeste.png" width="225" alt="" class="mt-2 mb-2">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start fs-2">Licenciatura en Informática</h1>
            <h2 class="text-center text-md-start fs-4">Universidad Nacional del Oeste <span class="fs-6">(Febr 2019- Presente)</span></h2>
            <div class="col-lg-8 text-center text-md-start fs-6 mt-2">
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Fundamentos teóricos de informática</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Planificar, dirigir, realizar o evaluar proyectos de diseño</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Co-diseño hardware-software y prueba funcional de la arquitectura</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Controlar las normas de calidad en el software</p>
            </div>
         </div>
        </li>

        <li class="d-flex flex-column flex-md-row align-items-center mb-4 mt-4">
          <img src="../../../assets/image/argpro.png" width="225" alt="" class="mt-2 mb-2">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start fs-2">Desarrollador Fullstack</h1>
            <h2 class="text-center text-md-start fs-4">Argentina Programa (INTI) <span class="fs-6">(Febr. 2022- Presente)</span></h2>
            <div class="col-lg-8 text-center text-md-start fs-6 mt-2">
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Metodologías ágiles, Scrum, Github</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span>Sitios web estáticos HTML, CSS y JavaScript</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Crear páginas web dinámicas, Single page application(SPA),con
              Angular</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Bases de datos, Paradigma Orientado a Objetos(POO)</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span>Implementación de Java SpringBoot</p>
            </div>
         </div>
        </li>

        <li class="d-flex flex-column flex-md-row align-items-center mb-4 mt-4">
          <img src="../../../assets/image/aluraone.png" width="225" alt="" class="mt-2 mb-2">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start fs-2">Desarrollador Front-End</h1>
            <h2 class="text-center text-md-start fs-4">Alura latam | Oracle Next Education (ONE) <span class="fs-6">(Abrl. 2022 - presente)</span></h2>
            <div class="col-lg-8 text-center text-md-start fs-6 mt-2">
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Crear un sitio web con las mejores prácticas responsives</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Implementar lógica de programación en los sitios web</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Realizar sitios complejos y dinámicos</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Aplicar los conceptos de programación orientada a objetos (POO)</p>
            </div>
         </div>
        </li>
        <li class="d-flex flex-column flex-md-row align-items-center mb-4 mt-4">
          <img src="../../../assets/image/open.png" width="225" alt="" class="mt-2 mb-2">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start fs-2">Desarrollador Front-End ReactJs</h1>
            <h2 class="text-center text-md-start fs-4">Open-Bootcamp <span class="fs-6">(Abrl. 2022- Presente)</span></h2>
            <div class="col-lg-8 text-center text-md-start fs-6 mt-2">
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Bases de la programación</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Bases de del desarrollo web (HTML, CSS y JavaScript)</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Sistema de control de versiones (Git, GitHub, GitLab)</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> ReactJs Intermedio y Avanzado</p>
            </div>
         </div>
        </li>

        <li class="d-flex flex-column flex-md-row align-items-center mb-4 mt-4">
          <img src="../../../assets/image/udemylogo.png" width="225" alt="" class="mt-2 mb-2">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start fs-2">Curso Desarrollador Web Fullstack</h1>
            <h2 class="text-center text-md-start fs-4">Udemy <span class="fs-6">(Abrl 2021- Presente)</span></h2>
            <div class="col-lg-8 text-center text-md-start fs-6 mt-2">
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Metodologias HTML, CSS (Módulos y BEM), y código JavaScrip(ES6)</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Entender como funciona JavaScript, PHP y Fetch API</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span> Aprender a crear sitios dínamicos, que utilicen bases de datos para almacenar y obtener información</p>
            <p class="mb-0"><span class="color_emoji">&#9672;</span>  Crear aplicaciones CRUD con PHP y MySQL</p>
            </div>
         </div>
        </li>
    
      </ul>
</div>
