
<div class="color mb-5">
    <h1 class="text-center text-md-start">Educación</h1>
      <ul class="p-0">
        <li class="d-flex flex-column flex-md-row align-items-center mb-2 mt-2">
          <img src="../../../assets/image/Universidad-Nacional-del-Oeste.png" width="225" alt="">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start">Titulo </h1>
            <h2 class="text-center text-md-start">lugar</h2>
            <p class="col-lg-8 text-center text-md-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas doloremque eius eaque adipisci quo dignissimos fugiat asperiores amet? Voluptatibus quisquam modi ut mollitia illo enim ullam consequatur, repudiandae magnam.</p>
         </div>
        </li>

        <li class="d-flex flex-column flex-md-row align-items-center mb-2 mt-2" >
          <img src="../../../assets/image/Universidad-Nacional-del-Oeste.png" width="225" alt="">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start">Titulo </h1>
            <h2 class="text-center text-md-start">lugar</h2>
            <p class="col-lg-8 text-center text-md-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas doloremque eius eaque adipisci quo dignissimos fugiat asperiores amet? Voluptatibus quisquam modi ut mollitia illo enim ullam consequatur, repudiandae magnam.</p>
         </div>
        </li>

        <li class="d-flex flex-column flex-md-row align-items-center mb-2 mt-2">
          <img src="../../../assets/image/Universidad-Nacional-del-Oeste.png" width="225" alt="">
          <div class="container d-flex flex-column justify-content-center row">
            <h1 class="text-center text-md-start">Titulo </h1>
            <h2 class="text-center text-md-start">lugar</h2>
            <p class="col-lg-8 text-center text-md-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quas doloremque eius eaque adipisci quo dignissimos fugiat asperiores amet? Voluptatibus quisquam modi ut mollitia illo enim ullam consequatur, repudiandae magnam.</p>
         </div>
        </li>
    
      </ul>
</div>
