.color{
    background-color: #221C44;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
}


h1{
    color: rgb(178, 168, 238);
}

.seccion{
    color: #B2A8EE;
    border-bottom: solid 2px#B2A8EE;;
}

.logo__education{
    background-color: #B2A8EE;
    height: 225px;
    width: 225px;
  
}
.color_emoji{
    color: #B2A8EE;
  
    
}



.btn {
    background-color: #6c63ff;
    box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    color:#fff;
    
  }
  
  .btn:hover{
    background-color: #7F78A7;
  }
  