<div class="color">
<nav class="navbar p-0">
    <div class="container-fluid p-0 navbar-brand justify-content-center align-items-center justify-content-sm-between">
       <div> 
      <a href="#" class="d-flex justify-content-center align-items-center text-decoration-none">
        <img src="../../../assets/image/APLogo.png" alt="" class="d-inline-block align-text-top imagen">
        <p class="m-0 fs-5 text-white">#YoProgramo</p>

      </a>
    </div>
    <div class="d-flex " >
      <a href="https://www.linkedin.com/in/mart%C3%ADnpastorino/" target="_blank" class="me-3"><img src="../../../assets/icon-contacto/in.svg" alt="" width="30" height="24" class="d-inline-block hoveritem "></a>
      <a href="https://github.com/Naistry" target="_blank" class="me-3"><img src="../../../assets/icon-contacto/git.svg" alt="" width="30" height="24" class="d-inline-block hoveritem"></a>
      <button type="button" class="btn" (click)="login()">Login</button>
    </div>
    </div>
   
  </nav>

</div>