.color{
    background: rgb(50,44,84);
    background: linear-gradient(355deg, rgba(50,44,84,1) 0%, rgba(35,29,73,1) 100%);
}

.btn {
    background-color: rgb(108, 99, 255);
    box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    color:#fff;
}

.btn:hover{
    background-color: #7F78A7;
}

.imagen{
    width: 120px;
}

.hoveritem:hover{
    box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    color:#fff;
}

i:hover{
    box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 1px 9px 18px 0px rgba(255,255,255,0.4);
    color:#fff;
}