<nav class="navbar bg-light">
    <div class="container-fluid navbar-brand">
       <div> 
      <a href="#">
        <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
    </div>
    <div class="d-flex " >
      <a href=""><img src="" alt="" width="30" height="24" class="d-inline-block align-text-top me-3"></a>
      <a href=""><img src="" alt="" width="30" height="24" class="d-inline-block align-text-top me-3"></a>
      <a href=""><img src="" alt="" width="30" height="24" class="d-inline-block align-text-top me-3"></a>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    </div>
   
  </nav>