
main{
    background-image: url("../../../assets/image/espacio13.png");
   
    animation: fondo 60s linear infinite;
    color: #fff;
}

footer{
    background-color: #0F0B21;
    color: #fff;
}

@keyframes fondo{

    100%{
        background-position-x: -1600px ;
    }
}

