
<div class=" mb-5 ">
    <div class="row color">
        <div class="col-12 col-sm-6 position-relative d-sm-flex justify-content-sm-center align-items-sm-center align-items-md-center align-items-lg-end">
            <img src="../../../assets/image/me.jpg" alt="" width="200" height="200" class="img-thumbnail rounded-circle position-absolute top-0 start-50 translate-middle">
            <div class="titulo d-flex flex-column justify-content-sm-center justify-content-md-end">
            <h1 class="m-0  fs-1">Martín Pastorino</h1>
            <h2 class="m-0 mt-1 fs-5 text-center">FullStack Developer Jr.</h2>
            <button type="button" class="btn m-3">Descargar CV</button>
           
             </div>
        </div>
        <div class="col-12 col-sm-6 mt-3 mb-3 mb-md-0 d-flex flex-column justify-content-sm-end">
            <h1 class="text-sm-start text-center seccion">Acerca de</h1>
            <p class="m-0 fs-6 text-center text-sm-start">Cuento con experiencia en el área de desarrollo web y videojuegos. Colaboré en proyectos tanto personales como Freelance. Me caracterizo por ser un persona proactiva y resilente a la hora de trabajar.</p>
            <p class="m-0 fs-6 text-center text-sm-start">Estoy en constante capacitación de tecnologías y aplico lo aprendido a proyectos construidos o por iniciarce, además disfruto la maquetación e interacción de interafaces web, así como también la optimización.</p>
        </div>
    </div>
</div>
