<div class="color mb-5">
   <h1 class="text-center text-md-start">skills</h1>
  <div  class="contenedor">
    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    
    <circle-progress
    [percent]="85"
    [radius]="80"
    imageSrc="../../../assets/icons/angular.svg"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#B2A8EE'"
    [innerStrokeColor]="'#6C63FF'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div> 
</div>